{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock %}
{% block content %}
<section class="feature-adventure">
    <div class="adventure_box-0">
        <a href="/" class="adventure_link"><img src="{% static 'img/forrest3x3.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
    <div class="adventure_box-1">
        <a href="/" class="adventure_link"><img src="{% static 'img/mountains3x3.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
    <div class="adventure_box-2">
        <a href="/" class="adventure_link"><img src="{% static 'img/street-walk3x65.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
    <div class="adventure_box-3">
        <a href="/" class="adventure_link"><img src="{% static 'img/sushi3x3.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
    <div class="adventure_box-4">
        <a href="/" class="adventure_link"><img src="{% static 'img/snow3x3.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
    <div class="adventure_box-5">
        <a href="/" class="adventure_link"><img src="{% static 'img/hiker-home6x3.jpg' %}" alt="iamge of streets" class="adventure_image"></a>
    </div>
</section>
<section class="feature-section">
    <div class="row">
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-webpage-img-txt"></i>
                <h3 class="heading-tertiary margin-bottom-sm">Custom built</h3>
                <p class="feature-box__text">
                    Give your company the uniqueness it needs to stand out from your competitors.
                    Have great performance speed. Your company website will have more scalability 
                    and have more flexibility to conform to your needs as your business grows.
                    Functionality for your company.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="row">

    </div>
</section>
<section class="blog-section">
    css gird
</section>
{% endblock %}